:root {
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    background-image: url('/assets/green.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--primary-font);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 100px;
}

.all-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    position: relative;
}

.card {
    width: 200px;
}

.all-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
}
.all-queens {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
}
.card-button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    position: relative;
    background-image: url('/assets/pokerChip.png');
    background-size: 164px;
    background-position: center;
    font-size: 42px;
    color: white;
    font-family: 'Rye';
}

.queen {
    width: 200px;
    display: flex;
    margin-top: 10px;
    position: absolute;
    bottom: 2px;
}

.score {
    display: flex;
    justify-content: center;
    font-family: 'Rye';
    font-size: 18px;
}

.hide {
    display: none;
}

.title {
    background: linear-gradient(#492000, #f0e000);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Rye';
    font-size: 72px;
    font-weight: lighter;
}

.rounds {
    position: absolute;
    right: 80px;
    bottom: 750px;
    font-family: 'Rye';
    display: grid;
    text-align: center;
}
